<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-back-button text="" color="light" slot="start"></ion-back-button>
    <ion-title color="light">Pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card [status]="'hold'" [createdAt]="'22/04/2025 16:04:00'" [updatedAt]="'22/04/2025 16:04:00'"
    [notes]="'We have two bags that are full, one with plastick and the other one with glasses'">
  </app-pickup-call-card>

  <app-pickup-call-card [status]="'processing'" [createdAt]="'22/04/2025 16:04:00'" [updatedAt]="'22/04/2025 16:04:00'"
    [notes]="'We have two bags that are full, one with plastick and the other one with glasses'">
  </app-pickup-call-card>

  <app-pickup-call-card [status]="'finished'" [createdAt]="'22/04/2025 16:04:00'" [updatedAt]="'22/04/2025 16:04:00'"
    [price]="'15,000'">
  </app-pickup-call-card>

</ion-content>