<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>TrashUp</ion-list-header>
          <ion-note>Recycle your trash</ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-loading></app-loading>
</ion-app>
