ion-list {
  padding: 0;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 /20%);
  h1 {
    color: white;
  }
}

ion-title {
  color: white;
  font-weight: 600;
}
.money {
  font-weight: 600;
}

ion-label {
  padding: 8px;
}

ion-card {
  ion-card-subtitle {
    font-weight: 600;
    text-transform: uppercase;
  }
  .p {
    white-space: normal;
  }
}
